<!DOCTYPE html>
<html lang="en" data-theme="dark" dir="ltr">
<head>
    {% include 'inc/header.html' %}
</head>
<body data-barba="wrapper">
    <div class="cm-content">
        <div class="container">
            {% include 'inc/necessity.html' %}
            
            <div class="cm-axz-content">
                {% include 'inc/navigation.html' %}
                
                <!-- Page Content -->
                <div class="cm-content-area" data-barba="container">
                    <div class="cm-content-box mode">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                
                {% include 'inc/footer.html' %}
            </div>
            {% include 'inc/sitenav.html' %}

        </div>
    </div>
    {% include 'inc/offcanvas.html' %}
    {% include 'inc/scripts.html' %}
</body>
</html>
