<!DOCTYPE html>
<html lang="en" data-theme="dark" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AXZ - Template for Seamless Personal Portfolio HTML5 Template">
    <meta name="keywords" content="CV, Personal, Writer, Designer, Developer">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Creativemela">
    <title> Coderaft</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="assets/img/logo/favicon.png">
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- swiper slider css -->
    <link rel="stylesheet" href="assets/css/swiper__bundle.css">
    <!-- normalize css -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!-- style css -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
    <body data-barba="wrapper">
        <div class="cm-content" >
            <div class="container">
                
            </div>
        </div>
        
        <!-- jquery -->
        <script src="assets/js/Jquery-3.7.1.js"></script>
        <!-- barba - jquery included -->
        <script src="assets/js/barba.core.js"></script>
        <!-- ajax contact form js -->
        <script src="assets/js/ajax-contact.js"></script>
        <!-- appear - jquery included -->
        <script src="assets/js/appear.min.js"></script>
        <!-- imageloaded pkgd - jquery included -->
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <!-- swiper - jquery included -->
        <script src="assets/js/swiper-bundle-min.js"></script>
        <!-- svginject - jquery included -->
        <script src="assets/js/svginject.min.js"></script>
        <!-- gsap animation -->
        <script src="assets/js/gsap/gsap-3.12.3.js"></script>
        <!-- main js -->
        <script src="assets/js/main.js"></script>
    </body>
</html>