<!-- templates/index.html -->
{% extends "layouts/app.html" %}
{% load static %}

{% block content %}
<div class="cm-content-item index">
    <div class="top-right-bg"></div>
    <div class="cm-content-circle">
        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
            <defs>
                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                </path>
            </defs>
            <text>
                <textPath xlink:href="#circle">Beni Obed &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Work with the best
                </textPath>
            </text>
        </svg>
        <div class="circle-logo">
            <img src="{% static 'img/logo/circle-logo.svg' %}" alt="">
        </div>
    </div>
    <div class="cm-content-sub">
        <div class="icon">
            <img class="svg" src="{% static 'img/icons/home.svg' %}" alt="">
        </div>
        <p>Hi! There I’m</p>
    </div>
    <h1 class="main-title">
        I'm making product
        and <span>design</span> minimal modern.
    </h1>
    <div class="cm-contact-zone">
        <a href="mailto:hi@infoexample.com">
            <span><img src="{% static 'img/icons/email.svg' %}" alt="email" height="24" width="24"></span>
            beniobed@gmail.com
        </a>
        <a href="tel:+8801712345678">
            <span><img src="{% static 'img/icons/phone.svg' %}" alt="phone" height="24" width="24"></span>
            +250 786 042 755
        </a>
    </div>
    <div class="cm-content-img">
        <img src="{% static 'img/content/code-dark.png' %}" alt="code image" class="dark-image">
    </div>
    <div class="cm-counter">
        <div class="cm-counter-single">
            <span class="count-item theme">31.2K</span>
            <p>Product Sale Per Day Using Our Tools.</p>
        </div>
        <div class="cm-counter-single">
            <span class="count-item">2.3M</span>
            <p>Trusted By Customers Worldwide.</p>
        </div>
    </div>
</div>
{% endblock %}
