{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="AXZ - Template for Seamless Personal Portfolio HTML5 Template">
<meta name="keywords" content="CV, Personal, Writer, Designer, Developer">
<meta name="robots" content="index, follow">
<meta name="author" content="Creativemela">
<title>Coderaft</title>

<!-- Favicon -->
<link rel="icon" type="image/png" href="{% static 'img/logo/favicon.png' %}">

<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper_bundle.css' %}">
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
