{% load static%}
<div class="cm-header sticky-top">
    <div class="cm-header-menu mode">
        <div class="menu-left">
            <div class="logo-area">
                <a href="{% url 'index' %}">
                    <img class="dark" src="{% static 'img/logo/dark-logo.svg' %}" alt="">
                </a>
            </div>
            <div class="header-menu">
                <ul class="list-unstyled">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'contact' %}" class="hire">Hire Me!</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
