{% load static %}

<!-- Mobile Menu -->
<div class="cm-mobile-menu">
    <div class="cm-header-menu mode">
        <div class="menu-left">
            <div class="logo-area">
                <a href="{% url 'index' %}">
                    <img class="dark" src="{% static 'img/logo/dark-logo.svg' %}" alt="axz">
                </a>
            </div>
            <div class="header-menu">
                <ul class="list-unstyled">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'contact' %}" class="hire">Hire Me!</a></li>
                </ul>
            </div>
        </div>
        <div class="cm-functionality cm-right">
            <div class="offcanvase">
                <img src="{% static 'img/icons/bars.svg' %}" alt="menu-bar" class="svg">
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu End -->

<!-- Author Section -->
<div class="cm-author-view mode sticky-top">
    <div class="cm-author-content">
        <div class="cm-author-image m-img">
            <img src="{% static 'img/author/author.jpg' %}" alt="">
            <a href="#" class="author-dribble-link">
                <img src="{% static 'img/icons/dribble.svg' %}" alt="">
            </a>
        </div>
        <div class="cm-author-info">
            <h3 class="cm-author-name">Jeckob Martin</h3>
            <span class="cm-author-designation">Designer & Developer</span>
        </div>
        <div class="cm-author-hiring">
            <a href="{% url 'contact' %}" class="cm-btn primary">Hire Me!</a>
            <a href="#" class="cm-btn">Download CV</a>
        </div>
        <div class="cm-author-description">
            <p>Specializing in strategy, improving design maturity & design systems.</p>
        </div>
        <div class="cm-author-social-links">
            <a href="#"><img src="{% static 'img/icons/facebook.svg' %}" alt="facebook" class="svg"></a>
            <a href="#"><img src="{% static 'img/icons/twitter-x.svg' %}" alt="twitter-x" class="svg"></a>
            <a href="#"><img src="{% static 'img/icons/instagram.svg' %}" alt="instagram" class="svg"></a>
            <a href="#"><img src="{% static 'img/icons/linkedin.svg' %}" alt="linkedin" class="svg"></a>
        </div>
    </div>
</div>
<!-- Author Section End -->

<!-- Off-Canvas Menu -->
<div class="cm-offcanvase">
    <div class="cm-menu-overlay"></div>
    <div class="cm-menu-inner">
        <div class="cm-close-icon">
            <img src="{% static 'img/icons/x-lg.svg' %}" alt="">
        </div>
        <div class="cm-offcanvase__logo logo-area">
            <a href="{% url 'index' %}">
                <img class="dark" src="{% static 'img/logo/dark-logo.svg' %}" alt="">
            </a>
        </div>
        <div class="cm-sidemenu">
            <div class="cm-menu">
                <ul>
                    <li><a class="link" href="{% url 'index' %}"><img class="svg" src="{% static 'img/icons/home.svg' %}" alt=""> Home</a></li>
                    <li><a class="link" href="{% url 'about' %}"><img class="svg" src="{% static 'img/icons/about.svg' %}" alt=""> About</a></li>
                    <li><a class="link" href="#"><img class="svg" src="{% static 'img/icons/service.svg' %}" alt=""> Service</a></li>
                    <li><a class="link" href="#"><img class="svg" src="{% static 'img/icons/portfolio.svg' %}" alt=""> Portfolio</a></li>
                    <li><a class="link" href="#"><img class="svg" src="{% static 'img/icons/pricing.svg' %}" alt=""> Pricing</a></li>
                    <li><a class="link" href="#"><img class="svg" src="{% static 'img/icons/education.svg' %}" alt=""> Education</a></li>
                    <li><a class="link" href="#"><img class="svg" src="{% static 'img/icons/blog.svg' %}" alt=""> Blog</a></li>
                    <li><a class="link" href="#"><img class="svg" src="{% static 'img/icons/contact.svg' %}" alt=""> Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="cm-sidecontact">
            <h6>Contact Me</h6>
            <a href="tel:+8801712345678">+8801712345678</a>
            <a href="mailto:axz@axz.com">axz@axz.com</a>
        </div>
    </div>
</div>
<!-- Off-Canvas Menu End -->

<!-- Animation -->
<div class="animation">
    <div class="animation__screen"></div>
</div>
<!-- Animation End -->
