 <!-- mobile menu -->
 <div class="cm-mobile-menu">
    <div class="cm-header-menu mode">
        <div class="menu-left">
            <div class="logo-area">
                
                <a href="index.html"><img class="dark" src="assets/img/logo/dark-logo.svg" alt="axz"></a>
            </div>
            <div class="header-menu">
                <ul class="list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="contact.html" class="hire">Hire Me!</a></li>
                </ul>
            </div>
        </div>
        <div class="cm-functionality cm-right">
             
            <div class="offcanvase">
                <img src="assets/img/icons/bars.svg" alt="menu-bar" class="svg">
            </div>
        </div>
    </div>
</div>
<!-- mobile menu end -->

<!-- author -->
<div class="cm-author-view mode sticky-top">
    <div class="cm-author-content ">
        <div class="cm-author-image m-img">
            <img src="assets/img/author/author.jpg" alt="">
            <a href="#" class="author-dribble-link">
                <img src="assets/img/icons/dribble.svg" alt="">
            </a>
        </div>
        <div class="cm-author-info">
            <h3 class="cm-author-name">Jeckob Martin</h3>
            <span class="cm-author-designation">Designer & Developer</span>
        </div>
        <div class="cm-author-hiring">
            <a href="contact.html" class="cm-btn primary">Hire Me!</a>
            <a href="#" class="cm-btn">Download CV</a>
        </div>
        <div class="cm-author-description">
            <p>Specializing in strategy, improving design maturity & design systems.</p>
        </div>
        <div class="cm-author-social-links">
            <a href="#" class="social-links">
            <img src="assets/img/icons/facebook.svg" alt="facebook" height="18" width="18" class="svg">
            </a>
            <a href="#" class="social-links">
                <img src="assets/img/icons/twitter-x.svg" alt="twitter-x" height="18" width="18" class="svg">
            </a>
            <a href="#" class="social-links">
                <img src="assets/img/icons/instagram.svg" alt="instagram" height="18" width="18" class="svg">
            </a>
            <a href="#" class="social-links">
                <img src="assets/img/icons/linkedin.svg" alt="linkedin" height="18" width="18" class="svg">
            </a>
        </div>
    </div>
</div>
<!-- author end -->