{% load static %}

<!-- Mobile Menu -->
<div class="cm-mobile-menu">
    <div class="cm-header-menu mode">
        <div class="menu-left">
            <div class="logo-area">
                <a href="{% url 'index' %}">
                    <img class="dark" src="{% static 'img/logo/dark-logo.svg' %}" alt="axz">
                </a>
            </div>
            <div class="header-menu">
                <ul class="list-unstyled">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'contact' %}" class="hire">Hire Me!</a></li>
                </ul>
            </div>
        </div>
        <div class="cm-functionality cm-right">
            <div class="offcanvase">
                <img src="{% static 'img/icons/bars.svg' %}" alt="menu-bar" class="svg">
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu End -->

<!-- Author Section -->
<div class="cm-author-view mode sticky-top">
    <div class="cm-author-content">
        <div class="cm-author-image m-img">
            <img src="{% static 'img/author/author1.jpg' %}" alt="">
            <a href="#" class="author-dribble-link">
                <img src="{% static 'img/icons/dribble.svg' %}" alt="">
            </a>
        </div>
        <div class="cm-author-info">
            <h3 class="cm-author-name">Beni Obed</h3>
            <span class="cm-author-designation">FullStack Developer</span>
        </div>
        <div class="cm-author-hiring">
            <a href="{% url 'contact' %}" class="cm-btn primary">Hire Me!</a>
            <a href="#" class="cm-btn">Download CV</a>
        </div>
        <div class="cm-author-description">
            <p>Specializing in strategy, improving design maturity & design systems.</p>
        </div>
        <div class="cm-author-social-links">
            <a href="#"><img src="{% static 'img/icons/facebook.svg' %}" alt="facebook" class="svg"></a>
            <a href="#"><img src="{% static 'img/icons/twitter-x.svg' %}" alt="twitter-x" class="svg"></a>
            <a href="#"><img src="{% static 'img/icons/instagram.svg' %}" alt="instagram" class="svg"></a>
            <a href="#"><img src="{% static 'img/icons/linkedin.svg' %}" alt="linkedin" class="svg"></a>
        </div>
    </div>
</div>
<!-- Author Section End -->
