{% load static %}

<!-- Off-Canvas Menu -->
<div class="cm-offcanvase">
    <div class="cm-menu-overlay"></div>
    <div class="cm-menu-inner">
        <div class="cm-close-icon">
            <img src="{% static 'img/icons/x-lg.svg' %}" alt="">
        </div>
        <div class="cm-offcanvase__logo logo-area">
            <a href="{% url 'index' %}">
                <img class="dark" src="{% static 'img/logo/dark-logo.svg' %}" alt="">
            </a>
        </div>
        <div class="cm-sidemenu">
            <div class="cm-menu">
                <ul>
                    <li><a class="link" href="{% url 'index' %}">
                        <img class="svg" src="{% static 'img/icons/home.svg' %}" alt=""> Home</a></li>
                    <li><a class="link" href="{% url 'about' %}">
                        <img class="svg" src="{% static 'img/icons/about.svg' %}" alt=""> About</a></li>
                    <li><a class="link" href="{% url 'services' %}">
                        <img class="svg" src="{% static 'img/icons/service.svg' %}" alt=""> Service</a></li>
                    <li><a class="link" href="{% url 'portfolio' %}">
                        <img class="svg" src="{% static 'img/icons/portfolio.svg' %}" alt=""> Portfolio</a></li>
                    <li><a class="link" href="{% url 'education' %}">
                        <img class="svg" src="{% static 'img/icons/pricing.svg' %}" alt=""> Pricing</a></li>
                    <li><a class="link" href="#">
                        <img class="svg" src="{% static 'img/icons/education.svg' %}" alt=""> Education</a></li>
                    <li><a class="link" href="#">
                        <img class="svg" src="{% static 'img/icons/blog.svg' %}" alt=""> Blog</a></li>
                    <li><a class="link" href="{% url 'contact' %}">
                        <img class="svg" src="{% static 'img/icons/contact.svg' %}" alt=""> Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="cm-sidecontact">
            <h6>Contact Me</h6>
            <a href="tel:+8801712345678">+250786042755</a>
            <a href="mailto:beniobed02@gmail.com" style="font-size:17px">beniobed02@gmail.com</a>
        </div>
    </div>
</div>
<!-- Off-Canvas Menu End -->

<!-- Animation -->
<div class="animation">
    <div class="animation__screen"></div>
</div>
<!-- Animation End -->
